* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.html {
    font-size: 62.5%;
    background-color: deepskyblue;
}

.titulo-cabecera {
    font-size: 5rem;
    background-color: deepskyblue;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 3rem;
    background-color: seagreen;
}

.section {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    background-color: gold;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box1-p {
    font-size: 2rem;
    width: 80%;
}

.box1-list {
    margin: auto;
    width: 20%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.8rem;
}

.box2 {
    width: 100%;
    background-color: forestgreen;
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
}