* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.html {
    font-size: 62.5%;
    background-color: deepskyblue;
}

.titulo-cabecera {
    font-size: 5rem;
    background-color: deepskyblue;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 3rem;
    background-color: seagreen;
}

.section {
    background-color: red;
}

